* {
  box-sizing: border-box;
}

body {
  font-family: "TS-Reg", "TS-Med", "TS-Ultra", sans-serif;
}

.container {
  width: 1136px;
  margin: 0 auto;
  background-color: #fff;
}

button {
  font-size: inherit;
  font-family: inherit;
  border: none;
  width: 150px;
  color: white;
  background-color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: black;
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "TS-Reg";
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
  margin-bottom: 20px;
}
h5 {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
  margin-bottom: 20px;
}

h6 {
  font-family: "TS-Reg", "Trip Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}
p {
  font-size: 14px;
}

/*-HEADER------*/
header {
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1;
}

header div {
  display: flex;
  height: 100%;
  align-items: center;
}
header img {
  height: 40px;
  margin-right: 30px;
}
header nav {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 15px;
}
header nav :is(a, button) {
  padding: 7px 10px;
  border-radius: 20px;
  /* border: 1px solid black; */
}

header nav a {
  font-family: "TS-Reg", sans-serif;
  align-items: center;
  display: flex;
  gap: 5px;
}
header nav a:hover {
  background-color: rgb(224, 224, 224);
}
.research {
  border: 2px solid rgb(224, 224, 224);
  height: 35px;
  width: 350px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  padding: 5px;
}

/*-main--------*/
main {
  padding-top: 30px;
}

h1 a {
  color: red;
}
.baseline {
  font-size: 12px;
  margin-bottom: 30px;
}

/*-Navigation------*/
.navigation {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  height: 70px;
}
.navigation div {
  border: 1px solid black;
  width: calc((100%-50px) / 5);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.navigation div:hover {
  background-color: black;
  color: #fff;
}
/*-MAIN-IMG-----*/
main {
  padding-top: 60px;
}
.main-img p {
  margin-top: 30px;
  font-size: 14px;
}
.main-img {
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.big-img img {
  width: 650px;
  height: 430px;
  object-fit: cover;
}

.little-img img {
  margin-left: 5px;
  width: 480px;
  height: 213px;
  object-fit: cover;
}
/*-Text-----------*/

.Text {
  padding: 80px 0px 0px 0px;
  display: flex;
  margin-bottom: 30px;
  gap: 20px;
}

/*--Map----*/

.Map nav {
  background-color: #fe5e5e;
  padding: 25px;
  border-radius: 10px 10px 0px 0px;
}
.Map button {
  border-radius: 15px;
}

.Map img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

/*---activity---*/

.activity {
  display: flex;
  gap: 10px;
}
.activity > div a {
  text-decoration: 1px solid black;
}
.activity > div {
  width: 290px;
}
.activity nav {
  width: 840px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 15px;
}

.activity nav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.activity nav::-webkit-scrollbar {
  display: none;
}

.activity nav div img {
  object-fit: cover;
  width: 270px;
}
.activity nav div {
  position: relative;
}
.logo {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 150px;
  background-color: greenyellow;
}
.activity div i {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 5px 7px 5px 7px;
  border-radius: 50%;
}
footer {
  background-color: #faf1ed;

  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

footer img {
  height: 34px;
}
footer a {
  font-family: "TS-Reg";
  font-weight: bold;
}
